<center>
<% flash.each do |key, value| %>
    <% id= (key=="success") ? "success_messages" : "error_explanation" %>
    <div id=<%= id %>>
      <h2><%= value %></h2>
    </div>
<% end %>
<h1> Reset password for >> "  <%= @searched_user.username %>  " </h1>
  <%= form_for @searched_user, url: {action: "reset_password"} do |f| %>
      <table>
        <tr>
          <td><h3>New password </h3></td>
          <td> : <%= f.password_field :new_password %> </td>
        </tr>
        <tr>
          <td><br/></td>
        </tr>
        <tr>
          <td><h3>Password confirmation </h3></td>
          <td>
            :<%= f.password_field :password_confirmation %>

          </td>
        </tr>
      </table>
      <br/>
      <%= f.submit "Change Password", :class => "button" %>

  <% end %>
</center>


