<div class="wrapper-box">
	<div class="main-wrapper">
		<div id="container">
			<!--Left Part-->
			<div id="column-left">
				<div class="box">
					<div class="box-heading">
						Information
					</div>
					<div class="box-content">
						<ul class="list-item">
							<li>
								<%= link_to "About Us",about_us_path %>
							</li>
							<li>
								<%= link_to "Delivery Information",delivery_information_path %>
							</li>
							<li>
								<%= link_to "Privacy Policy",privacy_policy_path %>
							</li>
							<li>
								<%= link_to "Terms Conditions",terms_conditions_path %>
							</li>
							<li>
								<%= link_to "Contact Us",contact_us_path %>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<!--Left End-->
			<!--Middle Part Start-->
			<div id="content">
				<!--Breadcrumb Part Start-->
				<div class="breadcrumb">
					<%= link_to "Home",root_path %> » <%= link_to "About Us",about_us_path %>
				</div>
				<!--Breadcrumb Part End-->
				<h1>About Us</h1>
								<h4 dir="rtl" class="western" align="left" style="margin-top: 0.17in; margin-bottom: 0.03in; line-height: 100%"><a name="h.cfshb62rljd6"></a>
<font color="#000000"><font face="Arial, serif"><span style="text-decoration: none"><b>About
Smart and New</b></span></font></font></h4>
<p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
We are SMART AND NEW company for Network marketing and direct selling
, now you can         start your own business , and make money easily
from working with us.</p>
<p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
<br>
</p>
<p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
We are the first network marketing company that provides essential
and valuable products that satisfy your needs and your home needs .</p>
<p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
<br>
</p>
<p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
We provide valuable products with the same local market prices or
less and that is our smart and new vision of marketing that any other
network marketing company doesn't provide .</p>
<p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
<br>
</p>
<p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
with all these advantages in prices and valuable products we see that
all is not enough so we provide a fantastic way to gain money by our
profitable selling system .</p>
<p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
<br>
</p>
<p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
Smart and new company is the new vision of marketing .</p>
<p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
<br>
</p>
<p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
We provide all essential products that every body need for work , for
life , for homes with the best prices .</p>
<p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
</p>
<p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
we work to satisfy our customers by having better life ,  good health
and happiness .</p>
<h4 dir="rtl" class="western" align="left" style="margin-top: 0.17in; margin-bottom: 0.03in; line-height: 100%"><a name="h.tllmi2mgddgj"></a>
<font color="#000000"><font face="Arial, serif"><span style="text-decoration: none">
</h4><h4 dir="rtl" class="western" align="left" style="margin-top: 0.17in; margin-bottom: 0.03in; line-height: 100%"><a name="h.bg5m3r10exnc"></a>
<font color="#000000"><font face="Arial, serif"><span style="text-decoration: none">
	<b>Our
Values</b></span></font></font></h4>
<p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
					</p>
<ul>
	<li><p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
	 ACCOUNTABILITY .</p>
	<li><p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
	 DISCIPLINE .</p>
	<li><p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
	 COLLABORATION .</p>
	<li><p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
	 CREDIBILITY .</p>
	<li><p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
	 COMMUNICATION .</p>
	<li><p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
	 CUSTOMER ORIENTATION .</p>
	<li><p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
	 TEAM WORK .</p>
	<li><p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
	 COMMUNICATION .</p>
	<li><p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
	 COMMITMENT TO RESULTS .</p>
	<li><p dir="rtl" align="left" style="margin-bottom: 0in; line-height: 115%">
	 PLANNING AND ORGANIZING .</p>
</ul>
<br/>
<br/>

			
			</div>
			<!--Middle Part End-->
			<div class="clear"></div>
		</div>
	</div>
</div>