<div class="wrapper-box">
	<div class="main-wrapper">
		<div id="container">
			<!--Left Part-->
			<div id="column-left">
				<div class="box">
					<div class="box-heading">
						Information
					</div>
					<div class="box-content">
						<ul class="list-item">
							<li>
								<%= link_to "About Us",about_us_path %>
							</li>
							<li>
								<%= link_to "Delivery Information",delivery_information_path %>
							</li>
							<li>
								<%= link_to "Privacy Policy",privacy_policy_path %>
							</li>
							<li>
								<%= link_to "Terms Conditions",terms_conditions_path %>
							</li>
							<li>
								<%= link_to "Contact Us",contact_us_path %>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<!--Left End-->
			<!--Middle Part Start-->
			<div id="content">
				<!--Breadcrumb Part Start-->
				<div class="breadcrumb">
					<%= link_to "Home",root_path %> » <%= link_to "Delivery Information",delivery_information_path %>
				</div>
				<!--Breadcrumb Part End-->
				<ol>
					<li>
						<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
							<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>DELIVERY
									OF PRODUCTS</b></font></font>
						</p>
						<ol type="i">
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Delivery
											of Product is made within 1 week from the date of official
											confirmation of order or redemption. (Subject to the place).</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> and their Agents are using a reliable courier services for the
											product delivery.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Delivery
											charges will have to be paid by the customer at the time of
											purchasing/redeeming the product as per the customer's region. </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> will not be responsible of all the local duties, custom taxes.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Products
											that have been returned to </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> due to customer's incorrect mailing address, telephone number or
											any other reason such as an absent customer etc will cost the
											customer delivery charges + Admin reshipping charges (vary from
											region to region) if the customer requests for a re-shipment of the
											product.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Whether
											the customer wishes to get his product reshipped or not, his
											account will be deducted with the custom charges paid on his behalf
											by the courier for any reason that leads to the return of the
											shipment to the sender. If the customer's account doesn't
											sufficient balance, it will be credited with negative balance which
											will be replenished from any other financial transaction or
											commission earned by the customer.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">In
											case of unavoidable circumstances when </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> is unable to deliver the product as shortage of product or product
											discontinuation, </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> has right to replace the requested product with any of its existing
											products with same or higher value without any notice to customer.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Exceptional
											cases where </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> products cannot reach the destination due to severe or complex
											Customs rules and regulations, the customer will have to acquire
											the product themselves from the nearest territorial service centre
											or an authorized agent. </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> will not be responsible for the traveling or any other expanses
											borne by the customer to acquire their product in that case.</font></font>
								</p>
						</ol>

				</ol>

			</div>
			<!--Middle Part End-->
			<div class="clear"></div>
		</div>
	</div>
</div>