<div class="wrapper-box">
	<div class="main-wrapper">
		<div id="container">
			<!--Left Part-->
			<div id="column-left">
				<div class="box">
					<div class="box-heading">
						Information
					</div>
					<div class="box-content">
						<ul class="list-item">
							<li>
								<%= link_to "About Us",about_us_path %>
							</li>
							<li>
								<%= link_to "Delivery Information",delivery_information_path %>
							</li>
							<li>
								<%= link_to "Privacy Policy",privacy_policy_path %>
							</li>
							<li>
								<%= link_to "Terms Conditions",terms_conditions_path %>
							</li>
							<li>
								<%= link_to "Contact Us",contact_us_path %>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<!--Left End-->
			<!--Middle Part Start-->
			<div id="content">
				<!--Breadcrumb Part Start-->
				<div class="breadcrumb">
					<%= link_to "Home",root_path %> » <%= link_to "Privacy Policy",privacy_policy_path %>
				</div>
				<!--Breadcrumb Part End-->
				<h1>Privacy Policy</h1>
				<p>
				<p dir="rtl" align="left" style="margin-bottom: 0.19in; line-height: 115%">
					<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">S&amp;N
							Ltd. (also referred to as ‘SMART AND NEW’, ‘we’, ‘us’
							throughout this document), we are committed to protecting your
							privacy and developing technology to give you a powerful and safe
							online experience.
							<br>
							<br>
							This Statement of Privacy applies to the
							SMART AND NEW website <a href="http://www.smartandnew.com">www.smartandnew.com</a> and governs data collection and usage. By using SMART AND NEW
							website, you consent to the data practices described in this
							statement.
							<br>
							<br>
							If you have questions or complaints regarding our
							privacy statement or practices, please contact us at <a href="javascript:location.href='mailto:'+String.fromCharCode(112,114,105,118,97,99,121,64,113,110,101,116,46,110,101,116)+'?'">privacy@smartandnew.com</a> </font></font>
				</p>
				<p dir="rtl" align="left" style="margin-bottom: 0.19in; line-height: 115%">
					<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">
							<br>
							<b>Collection
							of Your Personal Information</b>
							<br>
							<br>
							SMART AND NEW collects
							personally identifiable information, such as your email address,
							name, home or work address or telephone number and a code. SMART AND
							NEW also collects anonymous demographic information, which is not
							unique to you, such as your ZIP/Postal code, age, gender,
							preferences, interests and favorites.
							<br>
							<br>
							SMART AND NEW collects
							certain types of personally identifiable information from businesses
							such as company name, location address, contact person,
							position,&nbsp;phone number, email address, valid ID document type
							and number, registered date of the company, and a code.
							<br>
							<br>
							We
							may collect information about third parties from you such as details
							of names, email addresses, and date of birth data. The information is
							requested for the purpose of nominating a beneficiary for your
							Representative ship with SMART AND NEW or for shipping purposes. If
							your spouse or family members wish to have their information removed
							from our site, they may contact us at<a href="mailto:%20privacy@smartandnew.com"> privacy@smartandnew.com</a>.
							<br>
							There is also information about your
							computer hardware and software that is automatically collected by
							SMART AND NEW. This information can include your IP address, browser
							type, domain names, access times and referring website addresses.
							This information is used by SMART AND NEW for the operation of the
							service, to maintain quality of the service, and to provide general
							statistics regarding use of the SMART AND NEW website.
							<br>
							<br>
							Our
							website offers publicly accessible blogs or community forums. You
							should be aware that any information you provide in these areas may
							be read, collected, and used by others who have access to them. To
							request removal of your personal information from our blog or
							community forum, contact us at<a href="mailto:%20privacy@smartandnew.com"> privacy@smartandnew.com</a>. In some cases, we may not be able to
							remove your personal information, in which case we will let you know
							if we are unable to do so and why.
							<br>
							<br>
							SMART AND NEW encourages
							you to review the privacy statements of websites you choose to link
							to from SMART AND NEW so that you can understand how those websites
							collect, use and share your information. SMART AND NEW is not
							responsible for the privacy statements or other content of websites
							outside of the SMART AND NEW website and the SMART AND NEW family of
							websites.
							<br>
							<br>
							When you download and use our services, we
							automatically collect information on the type of device you use,
							operating system version, and device identifier (UDID).
							<br>
							<br>
							<b>Use
							of Your Personal Information</b>
							<br>
							<br>
							SMART AND NEW collects and
							uses your personal information to help you operate the SMART AND NEW
							website and deliver the services you have requested, such as allowing
							you to keep track of new referrals, track shipments, orders and
							payments, account balances, transactions, activity and performance,
							commissions and your Global Support Centre (GSC). SMART AND NEW also
							uses your personally identifiable information to respond to your
							enquiries, allow you to subscribe to RSS feeds, newsletters,
							articles, updates, and inform you of other products or services
							available from SMART AND NEW and its affiliates. SMART AND NEW may
							also contact you via surveys to conduct research about your opinions
							of current services or of potential new services that may be offered.
							We may require you to provide us certain demographic information
							(such as zip code).&nbsp; We will also use this information to
							monitor site traffic and personalize the site.
							<br>
							<br>
							SMART AND NEW
							collects and uses your personal information to create your business
							account and allow you to sell items on the site to individuals,
							delivering services you have requested. We may also use your
							information to send you relevant newsletters, respond to your
							enquiries, allow you to subscribe to RSS feeds, newsletters, articles
							and updates. To learn how you may opt-out/ unsubscribe from certain
							types of communications, please see the paragraph below.
							<br>
							<br>
							SMART
							AND NEW does not share, sell, rent or lease its customer information
							lists to third parties other than as disclosed in this privacy policy
							SMART AND NEW may, from time to time, contact you on behalf of
							external business partners about a particular offering that may be of
							interest to you. In those cases, your unique personally identifiable
							information (email, name, address, telephone number) will not be
							transferred to the third party. In addition, SMART AND NEW may share
							data with trusted partners to help us perform statistical analysis,
							send you email or postal mail, provide customer support, process
							payments, or arrange for deliveries. All such third parties are
							prohibited from using your personal information except to provide
							these services to SMART AND NEW, and they are required to maintain
							the confidentiality of your information. If you no longer wish to
							receive email offers, newsletters, articles, or updates you may
							opt-out at any time by using the unsubscribe link located at the
							bottom of each communication, or simply by emailing us at <a href="javascript:location.href='mailto:'+String.fromCharCode(117,110,115,117,98,115,99,114,105,98,101,64,113,110,101,116,46,110,101,116)+'?'">unsubscribe@smartandnew.com</a>.
							<br>
							<br>
							We
							may also disclose your personal information as required by law, such
							as to comply with a subpoena, or similar legal process, when we
							believe in good faith that disclosure is necessary to protect our
							rights, to protect your safety or the safety of others, investigate
							fraud, or respond to a government request.
							<br>
							<br>
							If we are involved
							in a merger, acquisition, or sale of all or a portion of our assets,
							you will be notified via email and/or prominent notice on our website
							of any change in ownership or uses of your personal information, as
							well as any choices you may have regarding your personal information.
							<br>
							<br>
							SMART AND NEW does not use or disclose sensitive personal
							information, such as race, religion, or political affiliations,
							without your explicit consent.
							<br>
							<br>
							SMART AND NEW keeps track of
							the websites and pages our customers visit within SMART AND NEW in
							order to determine what SMART AND NEW services are the most popular.
							This data is used to deliver customized content and advertising
							within SMART AND NEW to customers whose behavior indicates that they
							are interested in a particular subject area.
							<br>
							<br>
							<b>Use of
							Cookies</b>
							<br>
							<br>
							The SMART AND NEW website use cookies to help you
							personalize your online experience. A cookie is a text file that is
							placed on your hard disk by a web page server. Cookies cannot be used
							to run programs or deliver viruses to your computer. Cookies are
							uniquely assigned to you, and can only be read by a web server in the
							domain that issued the cookie to you.
							<br>
							<br>
							One of the primary
							purposes of cookies is to provide convenient features to save you
							time. The purpose of a cookie is to tell the web server that you have
							returned to a specific page. For example, if you personalize SMART
							AND NEW's pages, or register with the SMART AND NEW site or services,
							a cookie helps SMART AND NEW to recall your specific information on
							subsequent visits. This simplifies the process of recording your
							personal information, such as billing addresses, shipping addresses
							and so on. When you return to the same SMART AND NEW website, the
							information you previously provided can be retrieved, so you can
							easily use the SMART AND NEW features that you customized.
							<br>
							<br>
							You
							have the ability to accept or decline cookies. Most web browsers
							automatically accept cookies, but you can usually modify your browser
							setting to decline cookies if you prefer. If you choose to decline
							cookies, you may not be able to fully experience the interactive
							features of the SMART AND NEW services or websites you visit.
							<br>
							<br>
							The
							use of third party cookies is not covered by our privacy statement.
							We do not have access or control over these cookies.
							<br>
							<b>
							<br>
							</b>
							<br>
							<b>Security
							of Your Personal Information</b>
							<br>
							<br>
							SMART AND NEW uses best
							industry practices to ensure that it secures your personal
							information from unauthorized access, use or disclosure and secures
							the personally identifiable information you provide on computer
							servers in a controlled, secure environment, protected from
							unauthorized access, use or disclosure. When personal information
							(such as a credit card number) is transmitted to other websites, it
							is protected through the use of encryption, such as the Secure Socket
							Layer (SSL) protocol.
							<br>
							<br>
							SMART AND NEW follows generally accepted
							industry standards to protect the personal information submitted to
							us, both during transmission and once we have received it. No method
							of transmission over the Internet, or method of electronic storage,
							is 100% secure, however.&nbsp; Therefore, we cannot guarantee its
							absolute security.
							<br>
							<br>
							<b>Social Media (Features) and Widgets</b>
							<br>
							<br>
							Our
							website includes Social Media Features, such as the Facebook ‘Like’
							button and Widgets, such as the ‘Share this’ button or
							interactive mini programs that run on our site. These features may
							collect your IP address, which page you are visiting on our site, and
							may set a cookie to enable the feature to function properly. Social
							Media Features and Widgets are either hosted by a third party or
							hosted directly on our website. Your interactions with these features
							are governed by the privacy policy of the company providing it.
							<br>
							<br>
							<b>Testimonials</b>
							<br>
							<br>
							We post testimonials on our
							website which may contain personal information. We do obtain the
							customer’s consent prior to posting the testimonial to post their
							name along with their testimonial. To request removal of your
							personal information from our testimonials, contact us at <a href="mailto:privacy@smartandnew.com">privacy@smartandnew.com</a>.
							In some cases, we may not be able to remove your personal
							information, in which case we will let you know if we are unable to
							do so and why.
							<br>
							<br>
							<b>Access to Your Personal Information</b>
							<br>
							<br>
							If
							your personal information changes, or if you no longer desire our
							service, you may correct, delete inaccuracies, or update them by
							selecting ‘My Profile’ once you have logged into your account or
							by contacting us at <a href="mailto:privacy@smartandnew.com">privacy@smartandnew.com</a>.
							We will respond to your enquiries within 30 days.
							<br>
							<br>
							We will
							retain your information for as long as your account is active or as
							needed to keep providing you with our services. If you wish to cancel
							your account or request that we no longer use your information to
							provide you services, contact us at the email address listed above.&nbsp;
							We will retain and use your information as necessary to comply with
							our legal obligations, resolve disputes, and enforce our agreements.
							<br>
							<br>
							<b>Changes to this Statement</b>
							<br>
							<br>
							We may from time to
							time update this privacy statement to reflect changes to our
							information practices. If we make any changes which we deem to be
							material changes we will notify you by email (sent to the email
							address registered to your account) or by means of a notice on the
							SMART AND NEW website prior to the change becoming effective. We
							encourage you to periodically review this page for the latest
							information on our privacy practices.
							<br>
							<br>
							<b>Contact
							Information</b>
							<br>
							<br>
							SMART AND NEW welcomes your comments regarding
							this Statement of Privacy. If you believe that SMART AND NEW has not
							adhered to this Statement, please contact us. We will use
							commercially reasonable efforts to promptly determine and remedy the
							problem.
							<br>
							<br>
						</font></font>
					<br>
					<br>
				</p>
				<p dir="rtl" align="left" style="margin-bottom: 0.19in; line-height: 115%">
					&nbsp;
				</p>
				<p dir="rtl" style="margin-bottom: 0.14in; line-height: 115%">
					<br>
					<br>
				</p>
				</p>
			</div>
			<!--Middle Part End-->
			<div class="clear"></div>
		</div>
	</div>
</div>