<div class="wrapper-box">
	<div class="main-wrapper">
		<div id="container">
			<!--Left Part-->
			<div id="column-left">
				<div class="box">
					<div class="box-heading">
						Information
					</div>
					<div class="box-content">
						<ul class="list-item">
							<li>
								<%= link_to "About Us",about_us_path %>
							</li>
							<li>
								<%= link_to "Delivery Information",delivery_information_path %>
							</li>
							<li>
								<%= link_to "Privacy Policy",privacy_policy_path %>
							</li>
							<li>
								<%= link_to "Terms Conditions",terms_conditions_path %>
							</li>
							<li>
								<%= link_to "Contact Us",contact_us_path %>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<!--Left End-->
			<!--Middle Part Start-->
			<div id="content">
				<!--Breadcrumb Part Start-->
				<div class="breadcrumb">
					<%= link_to "Home",root_path %> » <%= link_to "Terms Conditions",terms_conditions_path %>
				</div>
				<!--Breadcrumb Part End-->
				<h1>Terms &amp; Conditions</h1>
				<p>
				<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>Terms
							and Conditions of S&amp;N Program</b></font></font>
				</p>
				<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">This
							is a legal and binding agreement between you - Customer, and </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">-
							SMART AND NEW company. By signing up with </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> Program, Customer agrees to all of the terms and conditions of this
							agreement. If Customer does not agree to these terms, activation of
							the </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> account will cease.</font></font>
				</p>
				<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>Joining
							the Program</b></font></font>
				</p>
				<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">By
							filling out the signup form you will agree to become a customer and
							are bound by the terms of this agreement. Your participation in the </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N </b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">program
							is solely to get a </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> product in addition to receive a commission on products purchased by
							your referral individuals joining under you in your </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> Tree.</font></font>
				</p>
				<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>By
							filling out the signup form you acknowledge that you have read the
							terms and conditions, understand, and agree with them.</b></font></font>
				</p>
				<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>Term
							of the Agreements:</b></font></font>
				</p>
				<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">The
							term of this Agreement will begin upon your acceptance of Joining
							SMART AND NEW Program and will end when terminated by either party.
							Either you or </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> may terminate this Agreement at any time, with or without cause, by
							giving the other party written notice of termination. You are only
							eligible to earn commission on sales under your </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N </b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">tree
							occurring during the term.</font></font>
				</p>
				<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					&nbsp;
				</p>
				<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">SMART
							AND NEW reserves the right to change any of these Terms &amp;
							Conditions for any reason deemed fit and at its discretion.</font></font>
				</p>
				<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>Overview</b></font></font>
				</p>
				<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Upon
							signing up for </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">,
							all customers agree to comply with </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> Terms and Conditions. The spirit of this policy is to ensure our
							customers Joining </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> with regard to the rights of other </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> Customers, conform to the requirements of </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> applicable legislation. </font></font>
				</p>
				<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					&nbsp;
				</p>
				<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">These
							terms will begin upon your signup with the </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N's</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> program and will end when your account is terminated. The terms of
							this agreement may be modified by </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> at any time. If any modification to the terms is unacceptable to you,
							your only choice is to terminate your account. Your continuing
							participation in the Reward program will constitute your acceptance
							of any change.</font></font>
				</p>
				<ol>
					<li>
						<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
							<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>BECOMING
									A S&amp;N CUSTOMER</b></font></font>
						</p>
						<ol type="i">
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">To
											signup, Customer of </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> must be at the legal age in one state or country.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> reserves the right to accept and/or reject Customer referred
											without providing any reasons or explanations on such rejection</font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b> S&amp;N </b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">will
											not entertain any appeal on rejected cases.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> Customer is not an employee, agent, representative, or franchisee
											of </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">,
											and agrees not to incur any obligation, debt, and expense on behalf
											of, or in the name of </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> and its websites. He/she is only authorized to purchase products
											from </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> and/or refer new Customers to </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> in accordance with the Terms &amp; Conditions stipulated herein.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">All
											Customers of </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> are eligible to benefit from commissions and/or bonuses in
											accordance with the Reward Program.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Payment
											of all taxes and/or tariffs applicable will be the responsibility
											of the Customers in their respective countries.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">There
											is currently no annual customer/ member fee and Customer
											administration fee. These fees, however, may be added in the future
											at </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N's</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> sole discretion.</font></font>
								</p>
						</ol>
					<li>
						<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
							<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>RESPONSIBILITIES
									OF A CUSTOMER</b></font></font>
						</p>
						<ol type="i">
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> expects its customers to market products and the Reward Program
											ethically, professionally, honestly and fully to all </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N </b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">'s
											potential customers.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> is against Customers who sell or promote to other Customers with
											similar or competitive products or services or recruit or enroll
											other Customers in any other network-marketing programs or company.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Customer
											understands that although customer may refer other customers into
											the </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">’s
											Reward Program, the Program does not allow Customer to profit
											solely from the activity of referring other Member/Customer.
											Commissions are paid only for entering Reward Program. No one has
											made any promise or guarantee that Member/Customer will derive any
											specific income or profit as a Member/Customer. Customer
											understands that any income Customer earns in </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> is determined by Customer's personal activity as an independent
											member and company's commission plan. Customer understands that
											product sales commissions shall be paid only to the qualified
											Customers and to his or her Down line and Up line. Customer shall
											not make any income representations except those set forth herein
											or otherwise specifically set forth in official <a href="https://www.smartandnew.com/">https://www.smartandnew.com/</a> Web site. Customer also understands that the incomes as displayed
											on site are only an indicative of your potential earnings and are
											no guarantees.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> prohibits demonstration of unrealistic income figures and false
											statements to create temptation to recruit new customers.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">There
											are no limitations on territories or franchises to the Gold Reward
											Program and no restriction as to the location of </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> Customers who can refer as many new customers, but all Customers
											are personally responsible for their own decision and must satisfy
											all laws and regulations applicable in their respective countries.</font></font>
								</p>
						</ol>
					<li>
						<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
							<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>ORDERING
									OF PRODUCT</b></font></font>
						</p>
						<ol type="i">
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">All
											products should be directly ordered from </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> system identifies the respective Customer according to the Account
											name. All purchase orders must be accompanied with a Account name.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Customers
											are responsible for their decision on purchase with </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Providing
											password to the new customer is the responsibility of introducer
											after the confirmation of order.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Payments
											are available the whole week by the company but to assure Reward
											Program’s payment on weekly basis, the cut-off date for confirmed
											order is fixed at mid-night on Wednesday. Order confirmation
											received after this time may be considered for the following week
											and shall be calculated accordingly.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Customers
											could order their products by making full payment or through the
											purchase of </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N </b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Easy
											Payment Plan.</font></font>
								</p>
								<ol type="a">
									<li>
										<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
											<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Full
													Payment:</font></font>
										</p>
										<ol>
											<li>
												<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
													<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">A
															customer who has paid in Full Payment Plan would receive the
															product within the time stipulated herein and would be assigned
															an Account in accordance to the purchase page description.</font></font>
												</p>
										</ol>
									<li>
										<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
											<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> Easy Payment Plan:</font></font>
										</p>
										<ol>
											<li>
												<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
													<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">To
															provide flexibility, </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> allows Customers to place an order through </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N's</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> Easy Payment Plan.</font></font>
												</p>
										</ol>
								</ol>
						</ol>
					<li>
						<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
							<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>CONFIRMATION
									OF PURCHASE ORDER:</b></font></font>
						</p>
						<ol type="i">
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">All
											orders shall be stored or placed in the system until the account
											information of the customer is verified and scrutinized for fraud
											or bunching, and commission will be released on the first cut off
											day.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Any
											cash payment to </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> is the responsibility of country agent and not the individual
											customer.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Upon
											confirmation of cash payment received by </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">,
											the respective Account Country Agent (Sender) would be credited and
											order would be confirmed by the Agents using their cash statement
											or code. </font></font>
								</p>
						</ol>
					<li>
						<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
							<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>PAYMENT
									TO S&amp;N </b></font></font>
						</p>
						<ol type="i">
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Any
											Cash Payment to </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> is the responsibility of the country agent only.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> accepts payment from Authorized Country Agents remitted via
											Telegraphic Transfer (T.T.) or available methods to the designated </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N </b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">accounts
											as described in agent’s agreement.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">If
											the Agent fails to include the mentioned bank charges, </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> reserves the right to deduct from the commission earned or withhold
											such order until the mentioned bank charges are remitted to </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">. </font></font>
								</p>
						</ol>
					<li>
						<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
							<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>PRODUCT
									REDEMPTION </b></font></font>
						</p>
						<ol type="i">
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N's</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> Customers are allowed to use their codes to offset the purchase
											price in accordance with the retail price of the desired product.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N </b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">'s
											Customers reserve the right to purchase their desired product by
											making Full Payment to </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> at any time.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">A
											customer is required to pay the balance) to </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font>
								</p>
								<ol type="a">
									<li>
										<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
											<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>Commission</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">.</font></font>
										</p>
								</ol>
						</ol>
				</ol>
				<p align="left" style="margin-left: 1.5in; margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N </b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">'s
							Customers could also use their earned commission and adjust it
							against the redeemed product. </font></font>
				</p>
				<ol start="7">
					<li>
						<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
							<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>DELIVERY
									OF PRODUCTS</b></font></font>
						</p>
						<ol type="i">
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Delivery
											of Product is made within 1 week from the date of official
											confirmation of order or redemption. (Subject to the place).</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> and their Agents are using a reliable courier services for the
											product delivery.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Delivery
											charges will have to be paid by the customer at the time of
											purchasing/redeeming the product as per the customer's region. </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> will not be responsible of all the local duties, custom taxes.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Products
											that have been returned to </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> due to customer's incorrect mailing address, telephone number or
											any other reason such as an absent customer etc will cost the
											customer delivery charges + Admin reshipping charges (vary from
											region to region) if the customer requests for a re-shipment of the
											product.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Whether
											the customer wishes to get his product reshipped or not, his
											account will be deducted with the custom charges paid on his behalf
											by the courier for any reason that leads to the return of the
											shipment to the sender. If the customer's account doesn't
											sufficient balance, it will be credited with negative balance which
											will be replenished from any other financial transaction or
											commission earned by the customer.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">In
											case of unavoidable circumstances when </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> is unable to deliver the product as shortage of product or product
											discontinuation, </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> has right to replace the requested product with any of its existing
											products with same or higher value without any notice to customer.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Exceptional
											cases where </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> products cannot reach the destination due to severe or complex
											Customs rules and regulations, the customer will have to acquire
											the product themselves from the nearest territorial service centre
											or an authorized agent. </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> will not be responsible for the traveling or any other expanses
											borne by the customer to acquire their product in that case.</font></font>
								</p>
						</ol>
					<li>
						<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
							<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>COMMISSION
									PAYMENT</b></font></font>
						</p>
						<ol type="i">
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">All
											newly confirmed orders are processed by </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> on weekly basis. </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> pays the commission to qualified Customers in the following manner:
											<br>
											<br>
											a. Commissions earned shall be paid within ONE (1) week or
											less from the sales cut-off date.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Your
											weekly commission is automatically deposited to your Earned
											Commission Bank (Statement).</font></font>
								</p>
						</ol>
				</ol>
				<p align="left" style="margin-left: 0.75in; margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">
							<br>
						</font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>&nbsp;</b></font></font>
				</p>
					<li>
						<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
							<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>CUSTOMER
									CONDITION</b></font></font>
						</p>
				</ol>
				<p align="left" style="margin-left: 0.5in; margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">You
							are responsible for any and all Content that you send to </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">.</font></font>
				</p>
				<p align="left" style="margin-left: 0.5in; margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">You
							may not use the Site or other Offerings or any information that you
							get from the Site. </font></font>
				</p>
				<ol start="9">
					<li>
						<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
							<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>ADVERTISING
									AND PROMOTION</b></font></font>
						</p>
						<ol type="i">
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Customers
											are not allowed to advertise </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N's</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> product, use any literature written/recorded or any other
											promotional materials that may implicate the Company in any manner.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Customer
											may request in writing to </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> for approval to be granted for any advertising or promotional
											exercise for which copies of the materials must have been submitted
											to </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> for written approval prior to the said exercise via authorized
											Agent/Dealer. </font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Self
											created literature regarding the product and company is a complete
											responsibility of customer and not </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">. </font></font>
								</p>
						</ol>
					<li>
						<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
							<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>SECURITY</b></font></font>
						</p>
				</ol>
				<p align="left" style="margin-left: 0.5in; margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
					<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Each
							Customer must keep </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">’s
							GOLD ACCOUNT passwords and other security access information
							confidential and notify </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">,
							promptly if the customer believes that the security of an account has
							been compromised. </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> has taken reasonable steps to protect the security of online
							transactions. HOWEVER, </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> CANNOT AND DOES NOT WARRANT SUCH SECURITY AND WILL NOT BE LIABLE FOR
							ANY LOSSES OR DAMAGES RESULTING FROM ANY SECURITY BREACHES.
							<br>
							<br>
						</font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> Notifications Service
							<br>
						</font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N </b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Notification
							Service is a definitive mean to safeguard a customer's account from
							possible unwanted or unauthorized intrusions. By means of GMI
							Notification Service, customers can monitor transactions and
							activities performed in their accounts by frequent email notification
							to their primary email address.
							<br>
							<br>
						</font></font><font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>GENERAL
							BUSINESS ETHICS POLICY</b></font></font>
				</p>
				<ol type="i">
					<ol type="i">
						<li>
							<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
								<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> seeks to conduct its business in a professional, ethical and
										credible manner and expects all its employees, representatives and
										customers to do likewise.</font></font>
							</p>
						<li>
							<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
								<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Customer
										understands that cross sponsoring, cross recruiting and cross line
										jumping is prohibited in </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> and may result in the imposition of penalty, as more fully set
										forth hereafter, but may include immediate termination of this
										Agreement. &quot;Cross sponsoring&quot; means soliciting a
										Member/Customer or any closely related person or entity into a
										downline different from the existing downline for that
										Member/Customer. &quot;Cross recruiting&quot; means soliciting a
										Member/Customer, or a closely related person or entity, into
										another MLM company. &quot;Cross line jumping&quot; means a
										Member/Customer or any closely related person or entity voluntarily
										becoming Customer that is not under same upline as the one in which
										the Customer was enrolled earlier. A &quot;closely related person
										or entity&quot; is any person in the household of the Customer
										(e.g. spouse, son, daughter, parent living in the same household)
										or partnership, which is controlled by the Customer</font></font>
							</p>
						<li>
							<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
								<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Any
										action, activity that may cause, is likely to cause, is intended to
										cause </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">,
										its customers the loss of good reputation or that is detrimental to
										the business interests of </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> shall be considered an unethical practice and will result
										termination of customer’s Gold Account. An unethical practice
										includes the offer of an inducement for a member from one up line
										in one genealogy to cross-over to another up line in a different
										genealogy.</font></font>
							</p>
						<li>
							<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
								<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">When
										using any e-mail address provided to you on or through the site or
										other offering, you agree not to transmit to any person or entity </font></font>
							</p>
					</ol>
				</ol>
				<ol type="i">
					<ul>
						<ol type="a">
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">any
											Content that is unlawful, fraudulent, threatening, abusive,
											libelous, defamatory, vulgar, obscene, harmful, harassing,
											tortuous, invasive of another’s privacy, hateful, or is
											racially, ethnically or otherwise objectionable, or is subject to
											an agreement of confidentiality, or infringes upon our or any
											third party’s intellectual property or other rights;</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">any
											non-public information about any company;</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">any
											trade secret;</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">any
											computer code, files or programs (for example, a computer virus)
											designed to interrupt, destroy, compromise the security of or
											limit the functionality of any device. </font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">spamming
											is strictly prohibited. Spam is defined for this purpose as
											sending an unsolicited message to any persons, entities,
											newsgroups, forums, e-mail lists or other groups or lists unless
											prior authorization has been obtained from the e-mail recipient
											who explicitly permits sending e-mail communication to them, or
											unless a business or personal relationship has already been
											established with the e-mail recipient.
											<br>
											IF YOU ARE “SPAMMED”
											BY SOMEONE WHO IS SELLING OR DESCRIBING GMI’S PRODUCT OR
											BUSINESS OPPORTUNITY, PLEASE CONTACT US AT <a href="mailto:admin@smartandnew.com">admin@smartandnew.com</a> PROMPTLY SO THAT WE MAY TAKE APPROPRIATE ACTION.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">the
											use of false headers in e-mails or falsifying, forging or altering
											the origin of any e-mail in connection with </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> and/or its product and services is prohibited.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">if
											a person or entity indicates that they do not want to receive
											e-mail, you agree not to send e-mail to such person or entity. If
											a person initially agrees to receive e-mail, but later asks to
											stop receiving e-mail, you must abide by that request.
											<br>
											<br>
										</font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> prohibits engaging in any of the foregoing activities by using the
											service of another provider, remailer service or otherwise </font></font>
								</p>
						</ol>
					</ul>
				</ol>
				<ol type="i">
					<ul>
						<ol type="i">
							<ol>
								<li>
									<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
										<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Any
												complaint against another customer must be directed to </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> Management for investigation to determine the truth of the
												allegation. The decision of </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> Management is final and conclusive.</font></font>
									</p>
								<li>
									<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
										<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Any
												complaint against customers sending abusive language or religious
												violation words, or offers made for pulling a member from one
												genealogy to another on Messenger would be considered serious
												violation of </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> business ethics and result in permanent cancellation of the
												customer's Gold Account without any notice, as all messenger
												communication is closely monitored and recorded by </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> admin.</font></font>
									</p>
							</ol>
						</ol>
					</ul>
					<li>
						<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
							<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>TERMINATION
									OF CUSTOMER </b></font></font>
						</p>
						<ul>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Customer
											may voluntarily terminate this Agreement by sending written notice
											at any time for any reason. If Customer terminates this Agreement
											that Customer shall not be allowed to become a Customer again for a
											period of one (1) month. If Customer re-joins on-line in violation
											of this policy then that Customer shall be terminated and Customer
											shall not be allowed to earn any commissions from the new position,</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> reserves the right to terminate a Customer who is found in
											violation of these Terms and Conditions or any statutory law in the
											respective country and/or regulations that pertain to the business
											of </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> and such termination may result in </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> exercising its right to pursue reasonable legal recourse.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">If
											Customer breaches any of the provisions of this Agreement, violates
											any applicable law or regulation or engages in any false,
											misleading or unfair trade practice, including but not limited to,
											making misleading income representations or making promises to
											potential Customer that cannot be kept by Customer, (herein called
											&quot;Violation&quot;) any such Violation is grounds for the
											imposition of penalty, as more fully set forth hereafter. The
											Company may suspend Customer, including suspension of checks earned
											at the time, pending investigation of any alleged Violation.
											Customer shall be given notice of the alleged Violation by e-mail,
											fax or other rapid method of communication and shall have seven
											days thereafter to respond in writing (verbal response will not be
											considered) to any alleged Violation (s), failing which, the
											Company can consider the allegations to be true. (It is Customer’s
											responsibility to see that Company receives the response, with
											supporting documentation, if any, within the seven-day period.) If
											at the end of the investigation it is determined that Customer is
											to be penalized, the date of the imposition of the penalty can be,
											at the Company's option A Customer found in breach or violation of
											these Terms and Conditions may be subject to disciplinary action by </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">,
											which may include limitation of Customer's right or the outright
											termination of his/her accounts</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">A
											Customer wishing to appeal a disciplinary action must do so within
											fourteen (14) days from the date of disciplinary or termination
											notice, after which the disciplinary or termination action shall be
											considered as final and conclusive. It is the goodwill of </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> to review any appeal and to consider any other appropriate action. </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N </b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">shall
											promptly notify the Customer of its decision, and the</font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b> S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> decision shall be final and not subject to further review.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">In
											all termination cases, the affected Customer shall lose all rights
											to his/her referred Customer and shall no longer be entitled to
											receive benefits stipulated in </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> 's  Reward Program, or any other compensation whatsoever from </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Signing
											up additional Accounts for” Bunching “purpose to earn
											unrealistic sales commission is expressly forbidden and subject to
											suspension or termination of Account. A Customer or Referrer who
											repeatedly and deliberately manipulates the submission of new sales
											not in accordance with natural development and which can result in
											an un-natural burden to the company, shall have his/her Account
											suspended and this may lead to his/her permanent termination.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">A
											Customer or Referrer shall face termination if found manipulating
											the placement of GA or manipulating the confirmation of an order
											which violates the policy of </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> which says that a GA should be confirmed immediately and password
											must be passed on to a new Customer as soon as payment has been
											received.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">New
											Customers are advised to ask for their password from the Referrer
											and change their password immediately to avoid possible hacking and
											fraud activities.</font></font>
								</p>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">The
											failure by a customer to meet or follow any of the above Terms of
											Use or who may be in breach of applicable law is grounds for
											account deactivation. </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> will be the sole arbiter as to what constitutes a violation of the
											Terms of Use. </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> reserves the right to remove any account without prior notice. When </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> becomes aware of an alleged violation of its Terms of Use, </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> will initiate an investigation into the alleged violation. During
											the investigation, </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> may restrict a customer's access in order to prevent further
											potentially unauthorized activity. Depending on the severity of the
											violation, </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> may, at its sole discretion, restrict, suspend, or terminate a
											customer's Gold account and/or pursue other civil remedies. If such
											violation is a criminal offence, </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> will notify the appropriate law enforcement authorities. </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> does not issue credits for outages incurred through service
											disablement resulting from Terms of Use violations. In such an
											event </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> will not be liable for any loss suffered by the customer as a
											result of the suspension of their services.</font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b> S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> customers agree to indemnify and hold harmless.</font></font>
								</p>
						</ul>
					<li>
						<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
							<font face="Times New Roman, serif"><font size="5" style="font-size: 18pt"><b>CUSTOMER
									DETAILS, DATABASE</b></font></font>
						</p>
						<ul>
							<li>
								<p align="left" style="margin-top: 0.19in; margin-bottom: 0.19in; line-height: 100%">
									<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> allows its customers to change and update the customer details at
											anytime on their own. </font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>S&amp;N</b></font></font><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"> provides tools for customers to fully manage their account,
											commission receivables, personal details update, personal and group
											sales activities.</font></font>
								</p>
						</ul>
				</ol>
				<p dir="rtl" style="margin-bottom: 0.14in; line-height: 115%">
					<br>
					<br>
				</p>
				</p>
			</div>
			<!--Middle Part End-->
			<div class="clear"></div>
		</div>
	</div>
</div>