<div align="center">
  <% flash.each do |key, value| %>
      <% id= (key=="success")?"success_messages" : "error_explanation" %>
      <div id=<%= id %>  >
        <h2><%= value %></h2>
      </div>
  <% end %>
  <h1>change password</h1>
  <%= form_for @updated_user, url: {action: "update_password"} do |f| %>

      <table>
        <tr>
          <td><h3>Old password </h3></td>
          <td> : <%= f.password_field :password %> </td>
        </tr>
        <tr>
          <td><br/></td>
        </tr>
        <tr>
          <td><h3>New_password </h3></td>
          <td> : <%= f.password_field :new_password %> </td>
        </tr>
        <tr>
          <td><br/></td>
        </tr>
        <tr>
          <td><h3>New password confirmation </h3></td>
          <td> : <%= f.password_field :password_confirmation %> </td>
        </tr>
      </table>

      <%= f.submit "Change Password", :class => "button" %>

  <% end %>
</div>

