<center>
  <% flash.each do |key, value| %>
      <% id= (key=="success")?"success_messages" : "error_explanation" %>
      <div id=<%= id %>  >
        <h2><%= value %></h2>
      </div>
  <% end %>
  <h1>Forget Password</h1>

  <div id="content" align="center">
    <%= form_tag :action => 'send_new_password' %>
    <div class="content">
      <table>
        <tr>
          <td><h3> Email : </h3></td>
          <td><%= text_field :email, :email %> </td>
          <td>&nbsp;<%= submit_tag 'Reset password', :class => "button" %></td>
        </tr>
      </table>
    </div>
  </div>
</center>

