<center>
  <% flash.each do |key, value| %>
      <% id= (key=="success") ? "success_messages" : "error_explanation" %>
      <div id=<%= id %>>
        <h2><%= value %></h2>
      </div>
  <% end %>
  <% if @region && @region.errors.full_messages.any? %>
      <div id="error_explanation">
        <% @region.errors.full_messages.each do |error_message| %>
            <h2><%= error_message if @region.errors.full_messages.first == error_message %></h2>
        <% end %>
      </div>
  <% end %>
  <h1>Add Region</h1>
  <%= form_for @region, url: {controller: "place", action: "create_region"} do |f| %>
      <% if @region.errors.full_messages.any? %>
          <% @region.errors.full_messages.each do |error_message| %>
              <%= error_message if @region.errors.full_messages.first == error_message %>
              <br/>
          <% end %>
      <% end %>
      <br/>


      <table>
        <tr>
          <td><h3> Region name </h3></td>
          <td> : <%= f.text_field :name %>  </td>
        </tr>


        <tr>
          <td><h3> Country </h3></td>
          <td>
            : <%= f.select :country_id, options_for_select(@countries.collect { |country| [country.name.titleize, country.id] }, 1), {}, {id: 'countries_select'} %>
          </td>
        </tr>
        <tr>
          <td><h3> Governorate </h3></td>
          <td>
            : <%= f.select :governorate_id, options_for_select(@governorates.collect { |governorate| [governorate.name.titleize, governorate.id] }, 0), {}, {id: 'governorates_select'} %> </td>
        </tr>
      </table>
      <%= f.submit "Create region", :class => "button" %>

  <% end %>
</center>
