<section id="cart">
	<% get_total_price_and_count_of_product_in_session%>
	<div class="heading">
		<h4><img width="32" height="32" alt="" src="/assetscart-bg.png"></h4>
		<a><span id="cart-total"><%= @total_count_of_product %> item(s) - L.E <%= @total_price_of_product %></span></a>

	</div>
	<div class="content">
		<div class="mini-cart-info">
			<table>
				<tbody>
					<%if session[:product_ids]%>
					<% for p in 0...session[:product_ids].length %>
					<tr>
						<% product_from_session=get_product_from_session(p)%>
						<% puts"#{product_from_session.id}"%>
						<% if File.exist?("app/assets/images/data/#{product_from_session.id}") %>
						<% selected_product_image=get_product_images(product_from_session.id)%>

						<td class="image"> <%= link_to image_tag("data/#{product_from_session.id}/#{selected_product_image[0]}", :size => "47x47"),
						{:controller => "application", :action => "product", :product_id => product_from_session.id} %></td>
						<% else %>
						<td class="image"><%= link_to image_tag("/assets/logo.png", :size => "47x47"),
						{:controller => "application", :action => "product", :product_id => product_from_session.id} %></td>
						<% end %>
						<td class="name"><%= product_from_session.name %></td>
						<td class="quantity">x &nbsp;<%= get_product_count_from_session(p) %></td>
						<% check_offer=(product_from_session.offer && product_from_session.offer>0 )%>

						<% if check_offer %>
						<td class="total">L.E <%= product_from_session.price- (product_from_session.price* (product_from_session.offer / 100)) %></td>
						<%else%>
						<td class="total">L.E <%= product_from_session.price %></td>
						<%end%>
						<td class="remove"><%= link_to image_tag("/assets/remove-small.png"), {:controller => "product_order", :action => "remove_product_from_cart", :product_index => p,:remote=>true} %></td>
					</tr>
					<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="mini-cart-total">
			<% if session[:product_ids] &&
			!session[:product_ids].empty? %>
			<table>
				<tbody>
					<tr>
						<td class="right"><b>Total:</b></td>
						<td class="right">L.E <%= @total_price_of_product %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="checkout">
			<%= form_tag  'empty_cart',:remote=>true do-%>
			<%= submit_tag 'Empty cart' ,:class=>'button',data: { confirm: "Are you sure ?" }%>
			<%end-%>
			<% if user_is_signed_in? %>
			<%= link_to "Checkout", user_order_path, :class => 'button' %>
			<%else%>
			<%= link_to "Checkout", add_product_order_path, :class => 'button' %>
			<%end%>

		</div>
		<% else %>
		<h1>Empty Cart</h1>
		<% end %>
	</div>
</section>